<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Programs offered</h3>
 
    <table border="1">
      {% for r in program_rows %}
        <tr>
          <td>{{ r.title }}</td>
          <td>{{ r.branch }}</td>
        </tr>
      {% endfor %}
    </table>
<br><br>
    <h3>Student Details</h3>
    <table border="1">
        {% for s in student_rows %}
          <tr>
            <td>{{ s.program }}</td>
            <td>{{ s.roll_number }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.year }}</td>
            <td>{{ s.dob }}</td>
          </tr>
        {% endfor %}
      </table>

</body>
</html>